$font: 'YourFont';

// css theme colors
$theme: 'YourThemeColor';
$primary: 'YourPrimaryColor';
$secondary: 'YourSecondaryColor';

// alternative colors
$theme_alternate: 'YourThemeAlternateColor';
$primary_alternate: 'YourPrimaryAlternateColor';
$secondary_alternate: 'YourSecondaryAlternateColor';
