include mixins
include ../components/header/header
include ../components/content/content
include ../components/footer/footer
doctype html
html(lang="ru")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    +genMeta('viewport', 'width=device-width, initial-scale=1')
    block SEO
    each val, i in copyright
      +genMeta(i, val)
    +genLink('favicon.ico', 'shortcut icon')
    +genLink('styles', 'stylesheet')
  body
    .page
      +getHeader('page')

      +getContent('page')

      +getFooter('page')

    +genScript('app.min')
